<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1>Please select a difficulty!</h1>
    <form action="#" method="post">
        <!--Difficulty select button-->
        <select name="difficulty" id="difficulty">
            <option value="Easy">Easy 🤡</option>
            <option value="Medium">Medium 😃</option>
            <option value="Hard">Hard 🤓</option>
            <option value="Master">Master 💀</option>
        </select>
        <!--submit button-->
        <input type="submit" value="submit"/>
        
    </form>

    <!--submit button-->

</body>
</html>
